{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur la console d\'administration 1' %}

{% block main %}
<div class="container">
    <div class="row">
        <p>Faite votre choix sur le menu de gauche.</p>
    </div>
</div>
{% endblock %}
